PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<db_user>:<db_password>@maincluster.vnmgzmm.mongodb.net/?appName=MainCluster
JWT_SECRET=super_secret_key_change_later
REFRESH_TOKEN_SECRET=make_this_a_very_long_random_string_like_123abcXYZ987
NODE_ENV=development